.btnUpload{
    background-color: #435334!important;
    border-color: #435334 !important;
}

.btnUpload:hover{
    background-color: #9EB384 !important;
    color: #435334 !important;
    border-color: #9EB384 !important;

}

.uploadForm{
  padding-top: 15px;
  padding-bottom: 15px;  
  margin-left: 1px !important ;
  border: solid 1px #dee2e6;
  border-radius: 5px;
  background-color: whitesmoke;

}

.about-banner{
  background-image: url("https://media.istockphoto.com/id/629768152/photo/cat-love-by-the-hand-grip-at-hand.jpg?s=612x612&w=0&k=20&c=1p7KzyTyHjfvLFhoRn274VWsC0uAGhm98Yh_ALSsnTw=");
   background-repeat: no-repeat;
    margin: none !important;
    padding: none !important;
    background-size: cover;
    padding-top: none !important;
    padding-bottom: none !important;
}

.contact-banner{
  background-image: url(https://t4.ftcdn.net/jpg/05/04/78/25/360_F_504782581_LHwsDbXlrFiiadWC4i15yV2lhbJnB8g0.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  padding: none;
}

 a{
  text-decoration: none !important;
  color: rgb(43, 43, 43) !important;
  
 }

