.bg-img{
    background-image: url("https://cutewallpaper.org/21/cute-cat-background/Banner-background-cute-cats-say-hello-Vector-Premium-Download.jpg");
    background-repeat: no-repeat;
    margin: none;
    padding: none;
    

}


/* .form-box-color{} */